<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">EpicList</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"></button>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a href="/lists/new" class="btn btn-secondary">New List</a>

                </li>
            </ul>
            <span class="navbar-text">
                {% if g.user %}
                Logged in as {{g.user.username}}
                <small><a href="/logout">Not you? Log out.</a></small>
                {% endif %}
            </span>
        </div>
    </nav>
    <div class="container m-5 text-center">
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">{{ msg }}</div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>