{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-5">
        {% block before_form %}
        {% endblock %}
        <form action="{% block formaction %}{% endblock %}" method="POST">
            {% for field in form if field.widget.input_type != 'hidden' %}
            {{ form.hidden_tag() }}
            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
            <div>
                {{ field.label }}
                {{ field() }}
            </div>
            {% endfor %}

            <button class="btn btn-primary">{% block button_name %}{% endblock %}</button>
        </form>

        {% block after_form %}
        {% endblock %}
    </div>
</div>
{% endblock %}