{% extends 'base.html' %}

{% block title %}Epic List{% endblock %}

{% block content %}
<div class="">
    <div class="row mt-5">
        <div class="col-lg-3 col-xs-0">
            <div class="card position-fixed pl-5 pr-5">
                <img src="{{g.user.image_url}}" class="user-card-image m-3" alt="Image of {{g.user.username}}">
                <h4><a href="/users/{{g.user.username}}">{{g.user.username}}</a></h4>
                <p>Followers: {{g.user.followers | length}}</p>
                <p>Following: {{g.user.following | length}}</p>
                <p>Lists: {{g.user.lists | length}}</p>
                <p>Favorite Character: {{g.user.favorite_character}}</p>
                <p><small><a href="/users/{{g.user.username}}/edit">Edit Profile</a></small></p>
            </div>
        </div>
        <div class="col-lg-9 col-xs-12">
            <div class="jumbotron">
                <h1 class="h1 text-center mb-5">All Recent Lists</h1>
                {% for list in lists %}
                <div class="card m-2 text-center">
                    <div>
                        <div class="h3 pt-4">{{ list.title }}</div>
                        <div class="small">By {{ list.user.username }}</div>
                        <hr>
                    </div>
                    <div class="d-inline pb-3 index-lists">
                        {% if list.characters | length < 5 %}
                        {% for character in list.characters %}
                        <div class="list-characters m-3">
                            <p>{% if list.is_ranked %}{{character}}{% endif %}{{ character.name }}</p>
                            <img class="char-image" src="{{character.image_url}}" alt="Picture of {{character.name}}">
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="list-characters m-3">
                            <p>{% if list.is_ranked %}{{list.characters[0]}}{% endif %}{{ list.characters[0].name }}</p>
                            <img class="char-image" src="{{list.characters[0].image_url}}"
                                alt="Picture of {{list.characters[0].name}}">
                        </div>
                        <div class="list-characters m-3">
                            <p>{% if list.is_ranked %}{{list.characters[1]}}{% endif %}{{ list.characters[1].name }}</p>
                            <img class="char-image" src="{{list.characters[1].image_url}}"
                                alt="Picture of {{list.characters[1].name}}">
                        </div>
                        <div class="list-characters m-3">
                            <p>{% if list.is_ranked %}{{list.characters[2]}}{% endif %}{{ list.characters[2].name }}</p>
                            <img class="char-image" src="{{list.characters[2].image_url}}"
                                alt="Picture of {{list.characters[2].name}}">
                        </div>
                        <div class="list-characters m-3">
                            <p>{% if list.is_ranked %}{{list.characters[3]}}{% endif %}{{ list.characters[3].name }}</p>
                            <img class="char-image" src="{{list.characters[3].image_url}}"
                                alt="Picture of {{list.characters[3].name}}">
                        </div>
                        <div>
                            <h1 class="big-dots">. . .</h1>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}