{% extends 'base.html' %}
{% block title %}Create a new Epic List{% endblock %}

{% block content %}
<div class="header text-center mt-3 jumbotron">
    <h1 class="fonted">New Epic List</h1>
    <p style="color:white">Search for characters to add to your new Epic List!</p>
</div>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col jumbotron m-1 new-list-jumbo">
            <h2 class="mt-5">Search for characters</h2>
            <form action="" onsubmit="return false">
                <label for="character-name">Character name:</label>
                <input type="text" id="character-name" name="character-name">
                <button type="button" class="btn btn-primary btn-sm" id="search-btn">Search</button>
                <div class="container m-3" id="search-results"></div>
            </form>
        </div>
        <div class="col jumbotron m-1 new-list-jumbo">
            <h2 class="mt-5">Create a New List</h2>
            <form action="/lists/new" method="POST">
                {% for field in form if field.widget.input_type != 'hidden' %}
                {{ form.characters }}
                {{ form.csrf_token }}
                {% for error in field.erors %}
                <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
                <div>
                    {{ field.label }}
                    {{ field() }}
                </div>
                {% endfor %}
                <div class="container-fluid m-3" id="list-container">
                </div>
                <button class="btn btn-success" id="submit-btn">Submit</button>
            </form>
        </div>


    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"
    integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ=="
    crossorigin="anonymous"></script>
<script src="/static/search.js"></script>
{% endblock %}