{% extends 'index.html' %}

{% block title %}Welcome to Epic List!{% endblock %}

{% block content %}
<div class="row text-center vertical-center">
    <div class="col-sm-12 col-md-8 jumbotron mx-auto">
        <h1 class="fonted">Welcome to EpicList</h1>
        <form class="container" style="color:white">
            <a href="/login" class="btn btn-sm btn-primary">Login</a>
            <p class="d-inline">or</p>
            <a href="/register" class="btn btn-sm btn-success">Register</a>
            <p class="d-inline">to get started.</p>
        </form>
    </div>
</div>
{% endblock %}