{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}
<div class="jumbotron mt-2" id="profile-jumbo">
    <div class="row">
        <div class="col-2">
            <img src="{{user.image_url}}" alt="Image of {{user.username}}" id="user-profile-image">
        </div>
        <div class="col-10 align-self-center">
            <h1 class="display-4 fonted">{{user.username}}</h1>
            {% if not own_profile %}
            {% if user not in g.user.following %}
            <form action="/users/{{user.id}}/follow" method="POST">
                <button class="btn btn-sm btn-primary">Follow</button>
                {% else  %}
                <form action="/users/{{user.id}}/unfollow" method="POST">
                    <button class="btn btn-sm btn-outline-primary">Following</button>
                    {% endif %}
                    {% endif %}
                </form>
        </div>
    </div>
</div>
<div class="row m-2">
    <div class="col-4">
        <div class="card">
            <div class="container p-3">
                <p>Favorite Character: {{user.favorite_character}}</p>
                <p>Followers: {{user.followers | length}}</p>
                <p>Following: {{user.following | length}}</p>
                <p>Public Lists: {{user.public_lists() | length}}</p>
                <p><small><a href="/users/{{g.user.username}}/edit">Edit Profile</a></small></p>
            </div>
        </div>
        <div class="card">
            <div class="container p-3">
                <h3 class="h3">Bio:</h3>
                <p>{{user.bio}}</p>
            </div>
        </div>
    </div>
    <div class="col-8 jumbotron text-center" id="profile-lists-jumbo">
        <h1 class="display-4 fonted">Lists by {{user.username}}</h1>
        {% if own_profile %}
        <small><a href="/users/{{user.username}}/private-lists">See your private lists</a></small>
        {% endif %}
        {% for dict_item in lists if dict_item.list.is_private != True %}
        <div class="card m-2 text-center">
            <div>
                <div class="h3 pt-4"><a href="/lists/{{dict_item.list.id}}">{{ dict_item.list.title }}</a>
                </div>
                <div class="small"><a href="/users/{{dict_item.list.user.username}}">By
                        {{ dict_item.list.user.username }}</a></div>
                <hr>
            </div>
            <div class="row pb-3 justify-content-around">
                {% if dict_item.characters | length < 5 %}
                {% for character_info in dict_item.characters %}
                <div class="col-2 m-3">
                    <p>{% if dict_item.list.is_ranked %}{{character_info.rank}}.
                        {% endif %}{{ character_info.character.name }}
                    </p>
                    <img class="char-image" src="{{character_info.character.image_url}}"
                        alt="Picture of {{character_info.character.name}}">
                </div>
                {% endfor %}
                {% else %}
                {% for character_info in dict_item.characters %}
                {% if loop.index < 4 %}
                <div class="col-2 m-3">
                    <p>{% if dict_item.list.is_ranked %}{{character_info.rank}}.
                        {% endif %}{{ character_info.character.name }}
                    </p>
                    <img class="char-image" src="{{character_info.character.image_url}}"
                        alt="Picture of {{character_info.character.name}}">
                </div>
                {% endif %}
                {% endfor %}
                <div>
                    <h1 class="big-dots">. . . </h1>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% if user.public_lists() | length < 1 %}
        <div class="text-center mt-5" style="color:white">
            {% if own_profile %}
            <p>You haven't created any public lists yet, you can <a href="/lists/new">create one
                    now!</a></p>
            {% else %}
            <p>This user hasn't created any public lists yet!</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}