{% for dict_item in lists %}
<h3>{{dict_item.list.title}}</h3>
{% for character in dict_item.characters %}
{% if loop.index < 5 %}
<p>{{ loop.index }}</p>
<p>{{ character.character.name }}</p>
{% endif %}
{% endfor %}
{% endfor %}

<!-- {% for dict_item in lists %}
<h3>{{ dict_item.list.title }}</h3>
<h5>{{ dict_item.characters | length }}</h5>
<ul>
    {% for character_info in dict_item.characters %}
    <li>{% if dict_item.list.is_ranked %}{{character_info.rank}} | {% endif %}{{character_info.character.name}}</li>
    {% endfor %}
</ul>
<hr>
{% endfor %} -->